@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;500;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;;
}


body{
  background: rgba(0,0,0,0.75);
}

h1, h4, p, a{
  color: whitesmoke;
  text-decoration: none;
}


ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgba(120, 176, 230, 1);
  color: black;
  border: 1px solid rgba(86, 126, 165, 1);
  font-weight: 600;
  cursor: pointer;
}